body {
    background: url('overlay.png'), url('Wolfplaza.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: black;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.feedback {
    width: 100%;
    max-width: 780px;
    background: #fff;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.3);
}

.survey-hr {
    margin: 10px 0;
    border: .5px solid #ddd;
}

.star-rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.star-rating input {
    display: none; /* Hide radio buttons */
}

.star {
    font-size: 30px; /* Size of stars */
    color: lightgray; /* Default star color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: color 0.3s; /* Smooth color transition */
}

.star-rating input:checked ~ .star {
    color: gold; /* Gold color for selected stars */
}

.star:hover,
.star:hover ~ .star {
    color: gold; /* Gold color on hover */
}

.slider {
    width: 80%;
    height: 12px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.slider:hover {
    opacity: 1;
}
